@font-face {
  font-family: my-cool-font;
  src: url(Norse-Bold.otf);
}

body{
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
  border-left: 20px;
  border-right: 20px;
  background-color: #000;
}

.top{
  height:12vh;
}

#middle{
  align-content: space-between;  
}

.bottom{
  height: 30vh;
}

#odin {
  color: white;
  font-size: 3rem;
}

#image{
  position: relative;
  height: 100vh;
  width: 50vw;
  background-image: url(background.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
img{
  height:17vh ;
  opacity: 1;
}

.logo{
  position: absolute;
  top: 100px;
  width: 400px;
  display: flex;
  flex-direction: row;
  background-color: rgba(15, 13, 13, 0.5);
  align-items: center;
  justify-content: center;
  font-family: my-cool-font;
}

button, input, select {
    font-family: inherit;
    font-size: 100%;
  }

  button {
    position: relative;
    top: 10px;
    left: 30px;
    background-color: #596D48;
    color: white;
    border-radius: 10%;
  }

  input, textarea, select, button {
    border-color: #E5E7EB;
    width : 150px;
    padding: 0;
    margin: 0 20px 0 0;
    box-sizing: border-box;
  }

fieldset{
    display: flex;
}

.title{
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  form {
    background-color: white;
    /* Center the form on the page */
    margin: 0 auto;
    width: 50vw;
    height: 33vh;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    overflow: scroll;
   
  }

  form li + li {
    margin-top: 1em;
  }

  input:focus{
  /* Additional highlight for focused elements */
  border: solid 1px blue;
  box-shadow: 1px 1px #6d6c6c;
}

.rows{
  display: flex;
  flex-direction: column;
}

#row1 {
  height: 33%;
  background-color: rgb(245, 249, 252);
}

#row2 {
  height: 33vh;
}


#row3 {
  height: 33vh;
  background-color: rgb(245, 249, 252);
}

#row1 > p {
  font-size: 2rem;
  padding-left: 20px;
  padding-right: 20px;
}

fieldset{
  border: white;
}

a:link{
color:#596D48 ;
}

button + p{
  position: relative;
  top:10px;
  left: 30px;
}