body{
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
  border-left: 20px;
  border-right: 20px;
  background-color: #000;
}

.top{
  height:12vh;
}

#middle{
  align-content: space-between;  
}

.bottom{
  height: 30vh;
}

#odin {
  color: white;
  font-size: 3rem;
}

#image{
  height: 100vh;
  width: 50vw;
  background-image: url(background.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
img{
  height:17vh ;
  opacity: 1;
}

.logo{
  display: flex;
  flex-direction: row;
  background-color: rgba(15, 13, 13, 0.5);
  align-items: center;
  justify-content: center;
}

button, input, select {
    font-family: inherit;
    font-size: 100%;
  }

  button {
    background-color: rgb(86, 149, 86);
  }

  input, textarea, select, button {
    width : 150px;
    padding: 0;
    margin: 0 20px 0 0;
    box-sizing: border-box;
  }

fieldset{
    display: flex;
}

.title{
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  form {
    background-color: white;
    /* Center the form on the page */
    margin: 0 auto;
    width: 50vw;
    height: 33vh;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
   
  }

  form li + li {
    margin-top: 1em;
  }

  input:focus{
  /* Additional highlight for focused elements */
  border-color: #000;
}

.rows{
  display: flex;
  flex-direction: column;
}

#row1 {
  height: 33vh;
  background-color: purple;
}

#row2 {
  height: 33vh;
  background-color: blue;
}


#row3 {
  height: 33vh;
  background-color: yellow;
}

