button, input, select {
    font-family: inherit;
    font-size: 100%;
  }

  button {
    background-color: rgb(86, 149, 86);
  }

  input, textarea, select, button {
    width : 150px;
    padding: 0;
    margin: 0 20px 0 0;
    box-sizing: border-box;
  }

fieldset{
    display: flex;
    column-count: 2;
}

.title{
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }